<a href="https://colab.research.google.com/github/ayten21/python-libraries/blob/main/Data_modification_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
---

<center><h1>  Data modification with Pandas</h1></center>

---


### `TABLE OF CONTENTS`
- How to calculate sum, mean, median and mode of a column
- How to get the summary of the numerical variables?
- How to get number of missing values in each columns?
- How to impute the missing values in any column?
- How to group the data based on categories of one column?
- How to group the data based on categories of multiple columns?
- How to create new feature using the aggregated results of a column?
- How to update the values of a column with a new mapping?
- How to create a new column by modifying the existing column?
- How to convert categorical variables into numerical?

In [1]:
import pandas as pd

In [47]:
data = pd.read_csv('sales_data.csv')

In [4]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

How to calculate sum, mean, median and mode of a column?

In [38]:
data.Item_MRP.sum()

1201681.4808

In [39]:
data.Item_MRP.mean()

140.9927819781768

In [40]:
data.Item_MRP.median()

143.0128

In [48]:
data.Outlet_Type.mode()

0    Supermarket Type1
dtype: object

In [49]:
data.Outlet_Type.value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

How to get the summary of the numerical variables?

In [50]:
# get the summary
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

---

HOW TO IMPUTE THE MISSING VALUES USING LOC IN ANY COLUMN?


***Check the columns with null values.***

First, we will check the number of missing values in each of the column. Use the function `isna().sum()`.



---

In [5]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

So, we have missing values in the column `Item_Weight` and `Outlet_Size`.

---

#### `Select the columns where Item_Weight has missing values using loc`

---

In [51]:
# rows with null values in the Item_Weight
data.loc[data.Item_Weight.isna() == True]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [52]:
# fill the null values in Item_Weight by mean
data.loc[(data.Item_Weight.isna() == True) , 'Item_Weight'] = data.Item_Weight.mean()

In [53]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [11]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### `Fill the missing values in the column: Outlet_Size by most frequent value using loc`

---

***Mode of Outlet Size***

In [12]:
data.Outlet_Size.mode()

0    Medium
dtype: object

In [13]:
data.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [14]:
data.loc[(data.Outlet_Size.isna() == True) , 'Outlet_Size'] = 'Medium'

#### `Use the fillna function to impute the missing values.`

- `fillna` function is another way to impute the missing values. Use the parameter `inplace=True` to store the results in the dataframe.

In [15]:
# fill the null values in Outlet Size by the most frequent value: "Medium"
data.Outlet_Size.fillna('Medium', inplace=True)

In [16]:
# check the null values again
data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#### `HOW TO UPDATE THE VALUES OF A COLUMN?`


---

In [17]:
# look at the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

***Let's have a look at the count of each category in the column `Item_Fat_Content`. We will use `value_counts` function to to do that.***


---

In [18]:
data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

---

***We can see that the categories `Low Fat`, `LF` and `low fat` are same and also `Regular`, `reg` are same. So to keep the data clean we will map all these to only two categories to `LF` and `R` using the map function. Let's see how?***

In [19]:
# Create a new mapping (dictionary) 
mapping = {
    'Low Fat' : 'LF',
    'Regular' : 'R',
    'LF' : 'LF',
    'reg': 'R',
    'low fat' : 'LF'
}

In [20]:
data.Item_Fat_Content.map(mapping)

0       LF
1        R
2       LF
3        R
4       LF
        ..
8518    LF
8519     R
8520    LF
8521     R
8522    LF
Name: Item_Fat_Content, Length: 8523, dtype: object

In [21]:
# use the  map function to update the values
data.Item_Fat_Content = data.Item_Fat_Content.map(mapping)

In [22]:
# Countof new categories in the column Item_Fat_Content
data.Item_Fat_Content.value_counts()

LF    5517
R     3006
Name: Item_Fat_Content, dtype: int64

How to group the data based on categories of one column?

In [54]:
d = data.groupby(['Item_Type'])
d

In [55]:
d.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395000,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDO23,17.850000,Low Fat,0.000000,93.1436,OUT045,2002,Medium,Tier 2,Supermarket Type1,2174.5028
Breakfast,FDP49,9.000000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC14,12.857645,Regular,0.072222,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
Dairy,FDA15,9.300000,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDH17,16.200000,Regular,0.016687,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
Fruits and Vegetables,FDX07,19.200000,Regular,0.000000,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
Hard Drinks,DRI11,12.857645,Low Fat,0.034238,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
Health and Hygiene,NCB42,11.800000,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930000,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500000,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCN07,18.500000,Low Fat,0.056816,132.1284,OUT010,1998,Small,Tier 3,Grocery Store,263.6568
Seafood,FDG33,12.857645,Regular,0.139561,170.4764,OUT027,1985,Medium,Tier 3,Supermarket Type3,3435.5280
Snack Foods,FDO10,13.650000,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920000,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDH35,18.250000,Low Fat,0.000000,164.7526,OUT045,2002,Medium,Tier 2,Supermarket Type1,4604.6728

In [56]:
d.mean()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Type,,,,,
Baking Goods,12.377448,0.069169,126.380766,1997.728395,1952.971207
Breads,11.629818,0.066255,140.952669,1997.657371,2204.132226
Breakfast,12.785278,0.085723,141.788151,1997.336364,2111.808651
Canned,12.399254,0.068129,139.763832,1998.152542,2225.194904
Dairy,13.329387,0.072427,148.499208,1997.681818,2232.542597
Frozen Foods,12.865543,0.065645,138.503366,1998.024533,2132.867744
Fruits and Vegetables,13.161297,0.068513,144.581235,1997.719968,2289.009592
Hard Drinks,11.611435,0.064943,137.077928,1998.177570,2139.221622
Health and Hygiene,13.093044,0.055216,130.818921,1997.734615,2010.000265
Household,13.297274,0.061322,149.424753,1997.784615,2258.784300
Meat,12.825689,0.062284,139.882032,1997.341176,2158.977911
Others,13.664761,0.060241,132.851430,1997.662722,1926.139702
Seafood,12.614756,0.074976,141.841719,1997.734375,2326.065928
Snack Foods,12.964871,0.066850,146.194934,1997.886667,2277.321739
Soft Drinks,12.008636,0.063972,131.492506,1998.098876,2006.511735
Starchy Foods,13.589410,0.067564,147.838023,1998.581081,2374.332773

In [57]:
d.mean()['Item_MRP']

Item_Type
Baking Goods             126.380766
Breads                   140.952669
Breakfast                141.788151
Canned                   139.763832
Dairy                    148.499208
Frozen Foods             138.503366
Fruits and Vegetables    144.581235
Hard Drinks              137.077928
Health and Hygiene       130.818921
Household                149.424753
Meat                     139.882032
Others                   132.851430
Seafood                  141.841719
Snack Foods              146.194934
Soft Drinks              131.492506
Starchy Foods            147.838023
Name: Item_MRP, dtype: float64

In [58]:
d.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,
Baking Goods,FDZ60,20.85,reg,0.311090,265.5568,OUT049,2009,Tier 3,Supermarket Type3,7931.6754
Breads,FDZ35,20.85,reg,0.281510,263.6594,OUT049,2009,Tier 3,Supermarket Type3,8958.3390
Breakfast,FDR37,21.10,reg,0.274592,234.9300,OUT049,2009,Tier 3,Supermarket Type3,8209.3140
Canned,FDZ49,21.35,reg,0.328391,266.8884,OUT049,2009,Tier 3,Supermarket Type3,10306.5840
Dairy,FDZ50,20.70,reg,0.304737,266.6884,OUT049,2009,Tier 3,Supermarket Type3,10256.6490
Frozen Foods,FDZ52,20.85,reg,0.294939,264.8910,OUT049,2009,Tier 3,Supermarket Type3,9678.0688
Fruits and Vegetables,FDZ56,21.35,reg,0.321115,264.2252,OUT049,2009,Tier 3,Supermarket Type3,12117.5600
Hard Drinks,DRQ35,19.70,low fat,0.298205,261.4278,OUT049,2009,Tier 3,Supermarket Type3,7843.1240
Health and Hygiene,NCZ53,21.25,low fat,0.255348,266.6884,OUT049,2009,Tier 3,Supermarket Type3,9779.9362
Household,NCZ54,21.25,low fat,0.325781,264.7910,OUT049,2009,Tier 3,Supermarket Type3,13086.9648
Meat,FDZ51,21.25,reg,0.287017,261.5936,OUT049,2009,Tier 3,Supermarket Type3,9390.4432
Others,NCQ43,20.50,low fat,0.210596,254.9040,OUT049,2009,Tier 3,Supermarket Type3,6008.8450
Seafood,FDK45,20.75,low fat,0.256152,240.2880,OUT049,2009,Tier 3,Supermarket Type3,6503.5344
Snack Foods,FDZ58,21.25,reg,0.303743,264.9568,OUT049,2009,Tier 3,Supermarket Type3,10993.6896
Soft Drinks,DRZ24,20.75,reg,0.306543,263.5910,OUT049,2009,Tier 3,Supermarket Type3,9554.2300
Starchy Foods,FDZ34,21.20,reg,0.238366,263.0252,OUT049,2009,Tier 3,Supermarket Type3,8132.0812

In [59]:
# step wise groupby

d = data.groupby(['Outlet_Size', 'Item_Type']).mean()
d

                                   Item_Weight  Item_Visibility    Item_MRP  \
Outlet_Size Item_Type
High        Baking Goods             12.036918         0.059490  129.202044
            Breads                   11.048000         0.065586  133.758960
            Breakfast                12.564231         0.075118  147.490585
            Canned                   11.922231         0.056733  135.442708
            Dairy                    13.071875         0.068907  153.509173
            Frozen Foods             13.250707         0.065639  136.829250
            Fruits and Vegetables    13.259613         0.061302  145.572870
            Hard Drinks              11.741957         0.062271  141.927522
            Health and Hygiene       13.028770         0.051031  135.110980
            Household                14.033398         0.053742  147.097522
            Meat                     13.384268         0.055831  137.244790
            Others                   14.008437         0.049660  132.576613
            Seafood                  13.002000         0.066497  134.864240
            Snack Foods              13.404560         0.059669  145.847086
            Soft Drinks              12.233776         0.053552  131.758473
            Starchy Foods            13.562632         0.073566  158.157074
Medium      Baking Goods             12.403806         0.060220  126.178568
            Breads                   12.119361         0.057480  140.861039
            Breakfast                12.032058         0.071658  134.537511
            Canned                   12.570233         0.063452  138.124851
            Dairy                    13.538565         0.063799  148.512174
            Frozen Foods             12.697155         0.059927  140.557015
            Fruits and Vegetables    13.092458         0.060720  142.971470
            Hard Drinks              11.680811         0.058881  142.837696
            Health and Hygiene       13.324875         0.048143  128.701865
            Household                13.400422         0.056420  147.711330
            Meat                     12.554853         0.064558  136.419132
            Others                   13.564321         0.057396  127.836181
            Seafood                  13.834215         0.081870  140.857619
            Snack Foods              12.891415         0.061292  148.779195
            Soft Drinks              12.066526         0.060093  128.269682
            Starchy Foods            13.871709         0.057441  148.419504
Small       Baking Goods             12.693309         0.073599  125.213364
            Breads                   11.257498         0.072865  145.523651
            Breakfast                13.572882         0.098983  130.568027
            Canned                   12.452913         0.071590  142.295429
            Dairy                    13.262397         0.081580  145.942101
            Frozen Foods             12.883633         0.069465  137.838544
            Fruits and Vegetables    13.080772         0.075157  148.313370
            Hard Drinks              11.840023         0.062429  129.758784
            Health and Hygiene       13.046797         0.059809  131.831535
            Household                13.281119         0.066570  153.965439
            Meat                     12.842434         0.062318  145.699250
            Others                   13.329999         0.058949  137.889211
            Seafood                  12.626544         0.085069  144.281760
            Snack Foods              12.859174         0.074044  144.351896
            Soft Drinks              12.102609         0.070324  132.855043
            Starchy Foods            13.204489         0.066771  150.270174

                                   Outlet_Establishment_Year  \
Outlet_Size Item_Type
High        Baking Goods                         1987.000000
            Breads                               1987.000000
            Breakfast                            1987.000000
            Canned                               1987.000000
            Dairy                                1987.000000
            Frozen Foods                         1987.000000
            Fruits and Vegetables                1987.000000
            Hard Drinks                          1987.000000
            Health and Hygiene                   1987.000000
            Household                            1987.000000
            Meat                                 1987.000000
            Others                               1987.000000
            Seafood                              1987.000000
            Snack Foods                          1987.000000
            Soft Drinks                          1987.000000
            Starchy Foods                        1987.000000
Medium      Baking Goods                         1997.591133
            Breads                               1997.024096
            Breakfast                            1998.055556
            Canned                               1997.949309
            Dairy                                1998.045872
            Frozen Foods                         1997.810219
            Fruits and Vegetables                1997.523002
            Hard Drinks                          1997.640000
            Health and Hygiene                   1997.470588
            Household                            1997.491349
            Meat                                 1996.825503
            Others                               1998.807692
            Seafood                              1997.666667
            Snack Foods                          1997.534314
            Soft Drinks                          1997.759124
            Starchy Foods                        1998.458333
Small       Baking Goods                         1996.786096
            Breads                               1997.154930
            Breakfast                            1995.333333
            Canned                               1997.513228
            Dairy                                1996.540404
            Frozen Foods                         1997.224900
            Fruits and Vegetables                1997.082317
            Hard Drinks                          1998.160000
            Health and Hygiene                   1996.926471
            Household                            1997.350195
            Meat                                 1996.302521
            Others                               1995.327273
            Seafood                              1996.200000
            Snack Foods                          1997.238806
            Soft Drinks                          1997.412698
            Starchy Foods                        1999.236842

                                   Item_Outlet_Sales
Outlet_Size Item_Type
High        Baking Goods                 2050.901134
            Breads                       2080.731528
            Breakfast                    2104.286508
            Canned                       2211.265203
            Dairy                        2453.181713
            Frozen Foods                 2214.096189
            Fruits and Vegetables        2405.118103
            Hard Drinks                  2363.590000
            Health and Hygiene           1953.042439
            Household                    2408.217992
            Meat                         2321.953141
            Others                       2202.383175
            Seafood                      1629.345760
            Snack Foods                  2473.968987
            Soft Drinks                  2351.727890
            Starchy Foods                2302.791947
Medium      Baking Goods                 2386.702771
            Breads                       2718.244814
            Breakfast                    2865.085356
            Canned                       2562.075105
            Dairy                        2725.360676
            Frozen Foods                 2612.229851
            Fruits and Vegetables        2844.100923
            Hard Drinks                  2551.079280
            Health and Hygiene           2475.142832
            Household                    2869.842203
            Meat                         2792.575217
            Others                       2410.746565
            Seafood                      2514.441257
            Snack Foods                  2799.134167
            Soft Drinks                  2437.250807
            Starchy Foods                2589.615229
Small       Baking Goods                 1724.681911
            Breads                       2158.795546
            Breakfast                    1715.988533
            Canned                       2038.457667
            Dairy                        1900.495836
            Frozen Foods                 1895.489818
            Fruits and Vegetables        1931.258454
            Hard Drinks                  1926.518932
            Health and Hygiene           1929.155500
            Household                    1974.824976
            Meat                         1800.519024
            Others                       1529.282073
            Seafood                      2550.513350
            Snack Foods                  1958.330459
            Soft Drinks                  1602.612305
            Starchy Foods                2588.753047

We can also do this using the pivot table also

In [60]:
d['Item_MRP']

Outlet_Size  Item_Type
High         Baking Goods             129.202044
             Breads                   133.758960
             Breakfast                147.490585
             Canned                   135.442708
             Dairy                    153.509173
             Frozen Foods             136.829250
             Fruits and Vegetables    145.572870
             Hard Drinks              141.927522
             Health and Hygiene       135.110980
             Household                147.097522
             Meat                     137.244790
             Others                   132.576613
             Seafood                  134.864240
             Snack Foods              145.847086
             Soft Drinks              131.758473
             Starchy Foods            158.157074
Medium       Baking Goods             126.178568
             Breads                   140.861039
             Breakfast                134.537511
             Canned                   138.124851
             Dairy                    148.512174
             Frozen Foods             140.557015
             Fruits and Vegetables    142.971470
             Hard Drinks              142.837696
             Health and Hygiene       128.701865
             Household                147.711330
             Meat                     136.419132
             Others                   127.836181
             Seafood                  140.857619
             Snack Foods              148.779195
             Soft Drinks              128.269682
             Starchy Foods            148.419504
Small        Baking Goods             125.213364
             Breads                   145.523651
             Breakfast                130.568027
             Canned                   142.295429
             Dairy                    145.942101
             Frozen Foods             137.838544
             Fruits and Vegetables    148.313370
             Hard Drinks              129.758784
             Health and Hygiene       131.831535
             Household                153.965439
             Meat                     145.699250
             Others                   137.889211
             Seafood                  144.281760
             Snack Foods              144.351896
             Soft Drinks              132.855043
             Starchy Foods            150.270174
Name: Item_MRP, dtype: float64

In [61]:
pd.pivot_table(data, index='Item_Type', values="Item_MRP", aggfunc= 'mean')

                         Item_MRP
Item_Type
Baking Goods           126.380766
Breads                 140.952669
Breakfast              141.788151
Canned                 139.763832
Dairy                  148.499208
Frozen Foods           138.503366
Fruits and Vegetables  144.581235
Hard Drinks            137.077928
Health and Hygiene     130.818921
Household              149.424753
Meat                   139.882032
Others                 132.851430
Seafood                141.841719
Snack Foods            146.194934
Soft Drinks            131.492506
Starchy Foods          147.838023

In [62]:
pd.pivot_table(data, index= ['Outlet_Size', 'Item_Type'], values= 'Item_MRP', aggfunc= 'mean')

                                     Item_MRP
Outlet_Size Item_Type
High        Baking Goods           129.202044
            Breads                 133.758960
            Breakfast              147.490585
            Canned                 135.442708
            Dairy                  153.509173
            Frozen Foods           136.829250
            Fruits and Vegetables  145.572870
            Hard Drinks            141.927522
            Health and Hygiene     135.110980
            Household              147.097522
            Meat                   137.244790
            Others                 132.576613
            Seafood                134.864240
            Snack Foods            145.847086
            Soft Drinks            131.758473
            Starchy Foods          158.157074
Medium      Baking Goods           126.178568
            Breads                 140.861039
            Breakfast              134.537511
            Canned                 138.124851
            Dairy                  148.512174
            Frozen Foods           140.557015
            Fruits and Vegetables  142.971470
            Hard Drinks            142.837696
            Health and Hygiene     128.701865
            Household              147.711330
            Meat                   136.419132
            Others                 127.836181
            Seafood                140.857619
            Snack Foods            148.779195
            Soft Drinks            128.269682
            Starchy Foods          148.419504
Small       Baking Goods           125.213364
            Breads                 145.523651
            Breakfast              130.568027
            Canned                 142.295429
            Dairy                  145.942101
            Frozen Foods           137.838544
            Fruits and Vegetables  148.313370
            Hard Drinks            129.758784
            Health and Hygiene     131.831535
            Household              153.965439
            Meat                   145.699250
            Others                 137.889211
            Seafood                144.281760
            Snack Foods            144.351896
            Soft Drinks            132.855043
            Starchy Foods          150.270174

How to create new feature using the aggregated results of a column?

In [63]:
average_item_visibility = data.groupby(['Item_Identifier'])['Item_Visibility'].mean().reset_index()
average_item_visibility

     Item_Identifier  Item_Visibility
0              DRA12         0.031956
1              DRA24         0.048062
2              DRA59         0.134718
3              DRB01         0.082126
4              DRB13         0.008002
...              ...              ...
1554           NCZ30         0.024956
1555           NCZ41         0.051623
1556           NCZ42         0.009044
1557           NCZ53         0.027775
1558           NCZ54         0.080426

[1559 rows x 2 columns]

Now, we want to create a new feature average_item_visibility using the above dataframe.
Let's first define a function that will take the parameter Item_Identifier and return the corresponding average Item_Visibilty using the dataframe average_item_visibility

In [64]:
def get_item_visibility(x) :
    return average_item_visibility.loc[(average_item_visibility.Item_Identifier == x), 'Item_Visibility'].values[0]

In [65]:
get_item_visibility('DRA24')

0.04806226414285714

Now, use the apply function to create the new feature. You just need to access the Item_Identifier column and use the apply method and pass the function that we have defined.

In [67]:
data['average_item_visibility'] = data.Item_Identifier.apply(get_item_visibility)

In [68]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,average_item_visibility
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0.017387
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0.019219
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,0.020145
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,0.015274
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,0.008082

How to group the data based on categories of multiple columns?

There is a better way of doing the above task is by using the transform function.

The time taken by the transform function to perform the above operation is comparatively less over a large dataframe. That’s a sigificant advantage as comapred to the first approach we used.

In [69]:
data['average_item_visibility_2'] = data.groupby(['Item_Identifier'])['Item_Visibility'].transform('mean')

In [70]:
data[['average_item_visibility', 'average_item_visibility_2']]

      average_item_visibility  average_item_visibility_2
0                    0.017387                   0.017387
1                    0.019219                   0.019219
2                    0.020145                   0.020145
3                    0.015274                   0.015274
4                    0.008082                   0.008082
...                       ...                        ...
8518                 0.061705                   0.061705
8519                 0.046952                   0.046952
8520                 0.035203                   0.035203
8521                 0.120686                   0.120686
8522                 0.051565                   0.051565

[8523 rows x 2 columns]

HOW TO CREATE A NEW COLUMN BY MODIFYING THE EXISTING COLUMN?

---

In [23]:
data.Item_MRP

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

#### `APPLY`

***Create a new column `Item_MRP_in_USD` by dividing the each value in the column `Item_MRP` by 74 using the apply function. Let's see how?***

---

In [24]:
data.Item_MRP.apply(lambda x: x/74)

0       3.375800
1       0.652286
2       1.913757
3       2.460743
4       0.727857
          ...
8518    2.898943
8519    1.461581
8520    1.150303
8521    1.393692
8522    1.019824
Name: Item_MRP, Length: 8523, dtype: float64

In [25]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,R,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [26]:
def convert(price):
    price = price/74
    price = price + 1.28
    return price

In [30]:
data['Item_MRP_in_USD'] = data.Item_MRP.apply(lambda x : convert(x))

In [31]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_MRP_in_USD_UPDATED,Item_MRP_in_USD
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,4.655800,4.655800
1,DRC01,5.92,R,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,1.932286,1.932286
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,3.193757,3.193757
3,FDX07,19.20,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,3.740743,3.740743
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,2.007857,2.007857

In [32]:
data[['Item_MRP','Item_MRP_in_USD']]

      Item_MRP  Item_MRP_in_USD
0     249.8092         4.655800
1      48.2692         1.932286
2     141.6180         3.193757
3     182.0950         3.740743
4      53.8614         2.007857
...        ...              ...
8518  214.5218         4.178943
8519  108.1570         2.741581
8520   85.1224         2.430303
8521  103.1332         2.673692
8522   75.4670         2.299824

[8523 rows x 2 columns]

---

#### `HOW TO CONVERT CATEGORICAL VARIABLES INTO NUMERICAL?`

Most of the machine learning algorithms do not take categorical variables so we need to convert them into numerical ones. In pandas, we have one such function `get_dummies` which will help us in doing such tasks.  It will create a binary column for each of the categories. 

For example, look at the image below, We have two genders male and female. It will create two binary columns.  
![](encode.png)

This is also known as `One Hot Encoding`. You will learn more encoding techniques in the data pre-processing module.

---

#### Let's look at the data again.

In [33]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_MRP_in_USD_UPDATED,Item_MRP_in_USD
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,4.655800,4.655800
1,DRC01,5.92,R,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,1.932286,1.932286
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,3.193757,3.193757
3,FDX07,19.20,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,3.740743,3.740743
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,2.007857,2.007857

In [34]:
# currently we have 13 columns in the data
data.shape

(8523, 14)

#### `USE GET_DUMMIES`

---

In [35]:
# convert categorical variables into numerical variables.
data = pd.get_dummies(data)

In [36]:
# view the data
data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_MRP_in_USD_UPDATED,Item_MRP_in_USD,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,4.655800,4.655800,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,1.932286,1.932286,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,3.193757,3.193757,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,3.740743,3.740743,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,2.007857,2.007857,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [37]:
# now, we have 1603 columns
data.shape

(8523, 1604)