<a href="https://colab.research.google.com/github/ayten21/python-libraries/blob/main/Pandas_indexing_subsetting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<center><h1> Basics of Pandas</h1><center>


---

 - **Pandas:** Open source library for data manipulation and analysis.
 
 ---
 
 - We can read and write differnt formats of file like CSV, JSON, EXCEL, HTML, etc.
 - We can summarize the data.
 - We can filter and modify the data based on multiple conditions.
 - We can merge multiple files.
 
 Learn more about Pandas here: https://pandas.pydata.org/docs/

In [1]:
# import the library
import pandas as pd

***If you got an error while running the above cell, import it by using the following command.***

If you are using anaconda with python3: ***`!pip install pandas`***

If you are using jupyter with python3: ***`!pip3 install pandas`***

---

In [2]:
# check the version of the pandas library
pd.__version__

'1.3.5'

In [55]:
# read the file
data = pd.read_csv('sales_data.csv')

In [4]:
# view the data, default is 5, you can give any other numbers
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
data.tail(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [7]:
# shape of the data
data.shape

(8523, 12)

In [8]:
# check the column names
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [10]:
# check the data types in the columns
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [13]:
# summary of the data
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [12]:
# check the null values in the data
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Pandas is a great library and has tons of useful methods that helps us to play with data.

> Playing with index

*  What is an index?
*  How to subset first N rows based on their position index?
*  Can we change the index?
*  Will the index be always numeric?
*  How to subset the data based on a label of the index?
*  Can we reset the index?
*  How to subset the data based on a value of a column?

In [14]:
data.index

RangeIndex(start=0, stop=8523, step=1)

CAN WE CHANGE THE INDEX? 

The answer is Yes. We can change the index.

In [24]:
import random
random_list = [random.randint(1, 8523) for i in range(8523)] 
random_list

[4444,
 3052,
 6776,
 4998,
 37,
 6163,
 2192,
 2150,
 3972,
 3085,
 3712,
 6654,
 7398,
 3653,
 4871,
 1227,
 6750,
 5030,
 1379,
 4930,
 5622,
 937,
 7560,
 2523,
 4432,
 4965,
 3136,
 6947,
 6966,
 2525,
 1311,
 3247,
 1058,
 6697,
 6220,
 5334,
 4787,
 844,
 891,
 8159,
 7467,
 1986,
 3470,
 1910,
 3557,
 6479,
 5385,
 4125,
 6639,
 5867,
 7741,
 5455,
 5601,
 4343,
 6670,
 5226,
 2927,
 1310,
 7150,
 686,
 380,
 6640,
 7711,
 5146,
 5653,
 6866,
 2709,
 5609,
 567,
 2757,
 8305,
 1971,
 1393,
 2628,
 953,
 3023,
 100,
 6989,
 2448,
 1707,
 1678,
 5577,
 3359,
 1211,
 6855,
 5868,
 5757,
 2875,
 743,
 8428,
 126,
 6780,
 8391,
 2200,
 7508,
 6439,
 2835,
 3173,
 3895,
 6045,
 4535,
 1048,
 3159,
 5303,
 5185,
 5461,
 5878,
 5537,
 892,
 5361,
 4099,
 4004,
 878,
 5786,
 7321,
 1130,
 3934,
 2335,
 3716,
 4359,
 743,
 4285,
 5791,
 2138,
 4920,
 8347,
 3146,
 8240,
 6099,
 2590,
 800,
 3101,
 6039,
 6837,
 7001,
 208,
 6927,
 3482,
 3079,
 2614,
 5670,
 2497,
 4454,
 6221,
 2270,
 3193,
 2975,
 1047,
 6934,
 4017,
 653,
 8421,
 5999,
 5905,
 3393,
 3489,
 5152,
 7985,
 6156,
 4148,
 2298,
 4079,
 6293,
 3301,
 1693,
 817,
 5252,
 2507,
 5329,
 4792,
 7777,
 2778,
 6808,
 5428,
 1170,
 6996,
 7948,
 6619,
 7908,
 5127,
 1909,
 7227,
 3439,
 3707,
 1163,
 6304,
 5407,
 4829,
 1858,
 363,
 178,
 8512,
 6745,
 8279,
 6312,
 6767,
 2673,
 6628,
 2070,
 1706,
 1070,
 8355,
 5276,
 3216,
 4234,
 7708,
 7861,
 213,
 690,
 4149,
 6511,
 6528,
 3284,
 3026,
 2458,
 4943,
 4124,
 3386,
 5999,
 5100,
 8432,
 1561,
 789,
 7515,
 4030,
 8317,
 5047,
 4873,
 4707,
 2177,
 1072,
 5874,
 7286,
 888,
 6657,
 158,
 633,
 5328,
 2918,
 7373,
 492,
 2698,
 6138,
 5179,
 8367,
 1463,
 3412,
 5506,
 6658,
 4274,
 1355,
 7062,
 2747,
 2038,
 7884,
 6549,
 27,
 5407,
 3263,
 6631,
 8321,
 3203,
 287,
 4091,
 6381,
 4315,
 4512,
 6109,
 346,
 7727,
 3423,
 1871,
 5039,
 2660,
 2059,
 6095,
 3135,
 49,
 8366,
 2287,
 3041,
 8265,
 2701,
 3939,
 1435,
 1217,
 64,
 2404,
 5780,
 2263,
 7177,
 1913,
 5622,
 3134,
 2896,
 26,
 3297,
 7546,
 160,
 1117,
 875,
 2951,
 124,
 8,
 1794,
 6819,
 7260,
 6243,
 8216,
 2468,
 5510,
 2903,
 8376,
 1727,
 754,
 326,
 1552,
 17,
 7456,
 6052,
 7649,
 6983,
 2455,
 5156,
 1707,
 6220,
 3692,
 4296,
 366,
 70,
 288,
 8052,
 6159,
 4521,
 2809,
 3295,
 735,
 7688,
 2728,
 5711,
 4901,
 6019,
 8349,
 6421,
 8336,
 1664,
 4152,
 4881,
 1297,
 2504,
 8130,
 2178,
 4843,
 3199,
 6564,
 1653,
 1638,
 4733,
 6710,
 186,
 849,
 8322,
 6826,
 8315,
 7175,
 2526,
 6888,
 7867,
 2012,
 7006,
 5040,
 1227,
 4529,
 2193,
 3951,
 3553,
 4522,
 8079,
 3234,
 831,
 3729,
 8174,
 7131,
 854,
 1147,
 4731,
 4422,
 6081,
 2976,
 4050,
 7718,
 1754,
 2756,
 974,
 8473,
 1331,
 8447,
 324,
 5656,
 4416,
 5469,
 308,
 3936,
 3580,
 3879,
 119,
 3099,
 2485,
 2205,
 7459,
 3209,
 2834,
 6017,
 341,
 3216,
 772,
 6726,
 3360,
 3110,
 4132,
 42,
 7957,
 2234,
 5209,
 5636,
 463,
 4497,
 6033,
 2459,
 1423,
 6973,
 3585,
 674,
 2808,
 5687,
 7218,
 5100,
 2162,
 1685,
 7833,
 2403,
 2007,
 4289,
 5424,
 4521,
 4917,
 4858,
 7846,
 5031,
 5293,
 2279,
 3241,
 6449,
 826,
 264,
 4706,
 403,
 7958,
 7568,
 2379,
 6378,
 2885,
 599,
 4506,
 4750,
 8394,
 2101,
 8392,
 8278,
 2662,
 6333,
 2511,
 3573,
 6576,
 2271,
 4016,
 7491,
 5722,
 7709,
 3811,
 1960,
 7608,
 6808,
 1598,
 5009,
 2256,
 1855,
 7522,
 3635,
 6534,
 5921,
 8187,
 1870,
 5010,
 873,
 509,
 100,
 897,
 8089,
 1403,
 6565,
 5848,
 7705,
 4801,
 5380,
 2091,
 4643,
 6958,
 5309,
 7924,
 7595,
 1035,
 3377,
 7652,
 6583,
 6771,
 3619,
 5687,
 1300,
 4568,
 1542,
 477,
 6903,
 2295,
 1618,
 164,
 4499,
 5097,
 1064,
 5865,
 2409,
 7066,
 3084,
 1134,
 1627,
 2380,
 3998,
 5885,
 7769,
 6911,
 4963,
 4707,
 5750,
 1715,
 5885,
 4572,
 1666,
 7754,
 3851,
 4787,
 2865,
 3989,
 2939,
 5972,
 5361,
 4449,
 2707,
 4487,
 3034,
 5529,
 2677,
 3834,
 6788,
 2744,
 4966,
 819,
 3032,
 4300,
 8130,
 2444,
 202,
 5419,
 605,
 8275,
 1628,
 2830,
 7752,
 6417,
 4516,
 3948,
 1695,
 7703,
 8153,
 4863,
 8412,
 1625,
 742,
 4643,
 4810,
 6479,
 7971,
 3981,
 2589,
 1947,
 2442,
 2995,
 4267,
 5951,
 4005,
 1691,
 4260,
 5962,
 5529,
 5986,
 6343,
 7728,
 6592,
 4870,
 2266,
 6513,
 5828,
 3688,
 1759,
 3744,
 6264,
 4286,
 2071,
 1870,
 731,
 2409,
 7597,
 8253,
 365,
 2234,
 78,
 5982,
 6054,
 1085,
 3201,
 531,
 5966,
 5048,
 7014,
 2449,
 1643,
 4849,
 4476,
 5646,
 6369,
 6113,
 3088,
 6679,
 3668,
 2483,
 553,
 5938,
 130,
 3145,
 2968,
 365,
 4687,
 2949,
 7835,
 1104,
 6212,
 2048,
 6029,
 1098,
 2531,
 4006,
 3946,
 7800,
 6140,
 7639,
 1113,
 874,
 4148,
 5359,
 6251,
 3704,
 6988,
 6053,
 7511,
 1788,
 3052,
 8100,
 3863,
 3760,
 2204,
 8300,
 2384,
 7354,
 4053,
 991,
 3944,
 6225,
 4235,
 5106,
 231,
 5088,
 2283,
 5673,
 2068,
 2286,
 2270,
 8328,
 2597,
 3848,
 1364,
 11,
 1092,
 2837,
 3054,
 3551,
 7245,
 5459,
 2777,
 932,
 5083,
 3879,
 505,
 322,
 7930,
 493,
 914,
 1981,
 657,
 265,
 3035,
 5285,
 957,
 3867,
 8380,
 4982,
 4742,
 1580,
 720,
 7168,
 7821,
 7597,
 864,
 4851,
 6592,
 565,
 6462,
 1512,
 7617,
 8133,
 857,
 1719,
 7749,
 6209,
 5160,
 1224,
 7725,
 1598,
 3858,
 8173,
 3408,
 8085,
 261,
 5408,
 3075,
 4429,
 8417,
 6716,
 4912,
 8241,
 861,
 5331,
 2310,
 3049,
 5075,
 5222,
 3507,
 5757,
 6506,
 229,
 6220,
 4450,
 5088,
 6294,
 5635,
 5624,
 3608,
 7907,
 7000,
 7397,
 6729,
 2284,
 4221,
 3235,
 7319,
 2930,
 1641,
 5438,
 5736,
 7906,
 4484,
 8109,
 8007,
 2644,
 1646,
 4428,
 4407,
 8422,
 2508,
 7323,
 4845,
 8348,
 5991,
 7781,
 7865,
 7621,
 4929,
 6307,
 5246,
 3823,
 3455,
 7968,
 8130,
 7547,
 6947,
 2165,
 4264,
 7895,
 2307,
 1833,
 7707,
 3776,
 1190,
 7711,
 6193,
 589,
 6169,
 8407,
 2972,
 2804,
 1201,
 910,
 1196,
 6235,
 1393,
 5378,
 561,
 5258,
 7749,
 8030,
 1782,
 3723,
 8479,
 8332,
 7472,
 3392,
 4706,
 2253,
 2134,
 3675,
 3440,
 4100,
 7637,
 961,
 7150,
 5044,
 6933,
 5344,
 7758,
 5983,
 4896,
 3646,
 4490,
 2047,
 2658,
 913,
 5733,
 4310,
 2547,
 8432,
 4284,
 976,
 8228,
 8495,
 142,
 3261,
 105,
 7132,
 1892,
 140,
 815,
 7232,
 3949,
 596,
 4111,
 3638,
 5264,
 8088,
 5859,
 8222,
 2528,
 6668,
 4212,
 133,
 4680,
 2809,
 5892,
 1500,
 5024,
 2146,
 1115,
 7433,
 2412,
 5503,
 2849,
 2164,
 5537,
 375,
 5656,
 3277,
 2683,
 4099,
 4653,
 3202,
 77,
 3175,
 7931,
 6729,
 1780,
 3342,
 2067,
 6171,
 5636,
 2586,
 6591,
 1981,
 4954,
 7443,
 1067,
 399,
 1833,
 1680,
 5421,
 1279,
 6299,
 1589,
 4959,
 1409,
 3327,
 5529,
 5046,
 2944,
 1065,
 3188,
 4267,
 2433,
 2497,
 8493,
 600,
 1714,
 4730,
 1449,
 4155,
 7245,
 5035,
 3627,
 977,
 1987,
 5787,
 7012,
 5604,
 6361,
 8081,
 5854,
 7316,
 3984,
 1779,
 3744,
 7378,
 994,
 5416,
 128,
 4830,
 6351,
 7079,
 1511,
 4970,
 5707,
 137,
 347,
 7699,
 8084,
 5123,
 3639,
 5765,
 5941,
 3019,
 1287,
 4334,
 2457,
 6679,
 1521,
 3976,
 4829,
 7855,
 1274,
 3471,
 2024,
 721,
 6839,
 5998,
 5002,
 ...]

In [25]:
data.index = random_list
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4444,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
3052,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
6776,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
37,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [26]:
data.index

Int64Index([4444, 3052, 6776, 4998,   37, 6163, 2192, 2150, 3972, 3085,
            ...
            2601, 3848, 7943, 4491, 2415, 5240, 1444, 8480, 2556, 5056],
           dtype='int64', length=8523)

In [27]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

In [28]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [29]:
data.index

Int64Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
            ...
            2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
           dtype='int64', name='Outlet_Establishment_Year', length=8523)

WILL THE INDEX BE ALWAYS NUMERIC?

No, We can also have categorical variables as the index of a dataframe.

In [30]:
data.set_index('Item_Identifier', drop= True, inplace=True)

In [31]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [32]:
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

CAN WE RESET THE INDEX?

Yes, we can reset the index. Let's see how? We will use the reset_index function.

In [33]:
data.reset_index(inplace=True)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

> Subsetting - Position based

*   How to select rows in a particular range?
*   How to select the rows by position?
*   How to select the specific rows and columns from the data using their position?

Note:
data.head() and data.tail() are also position based subsetting.

In [34]:
#How to select rows in a particular range?
data[10:15]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260

How to select the rows by position? 

When we are using iloc, we need to specify the rows and columns by their position.

In [35]:
# select specific rows by index number
data.iloc[[1,5,2,4,6,14]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,Medium,Tier 3,Supermarket Type2,556.6088
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260

How to select the specific rows and columns from the data using their position?


In the iloc function pass the first list as the order of rows by their index and pass the second list as the order of columns.

In [36]:
data.iloc[[1,4,5,2],[1,3,5]]

   Item_Weight  Item_Visibility  Item_MRP
1        5.920         0.019278   48.2692
4        8.930         0.000000   53.8614
5       10.395         0.000000   51.4008
2       17.500         0.016760  141.6180

> Subsetting - Label based

*   How to select rows using the label of the index?

In [38]:
# set the Item_Identifier as the index of the dataframe.
data.set_index('Item_Identifier',inplace=True, drop=True)

In [39]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [40]:
# select rows with index value 'FDA03'
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

In [41]:
data.loc[['FDA15', 'FDA03']]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208
FDA03,18.5,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
FDA03,NaN,Regular,0.045244,Dairy,146.8102,OUT027,Medium,Tier 3,Supermarket Type3,3499.4448
FDA03,18.5,Regular,0.000000,Dairy,144.2102,OUT035,Small,Tier 2,Supermarket Type1,2041.3428
FDA03,18.5,Regular,0.076097,Dairy,145.8102,OUT010,NaN,Tier 3,Grocery Store,291.6204
FDA03,18.5,Regular,0.045426,Dairy,144.9102,OUT013,High,Tier 3,Supermarket Type1,1895.5326
FDA03,18.5,Regular,0.045534,Dairy,146.3102,OUT049,Medium,Tier 1,Supermarket Type1,3645.2550

HOW TO SELECT ROWS & COLUMNS USING THE LABEL OF THE INDEX?

In [42]:
data.loc[['FDA15', 'FDA03'], 'Item_Fat_Content']

Item_Identifier
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15         LF
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
Name: Item_Fat_Content, dtype: object

In [43]:
data.loc[['FDA15', 'FDA03'], ['Item_Fat_Content', 'Item_Type', 'Item_MRP']]

                Item_Fat_Content Item_Type  Item_MRP
Item_Identifier
FDA15                    Low Fat     Dairy  249.8092
FDA15                    Low Fat     Dairy  250.2092
FDA15                    Low Fat     Dairy  248.5092
FDA15                    Low Fat     Dairy  249.6092
FDA15                    Low Fat     Dairy  248.9092
FDA15                    Low Fat     Dairy  250.6092
FDA15                    Low Fat     Dairy  249.5092
FDA15                         LF     Dairy  248.8092
FDA03                    Regular     Dairy  144.1102
FDA03                    Regular     Dairy  146.8102
FDA03                    Regular     Dairy  144.2102
FDA03                    Regular     Dairy  145.8102
FDA03                    Regular     Dairy  144.9102
FDA03                    Regular     Dairy  146.3102

DIFFERENCE BETWEEN LOC AND ILOC

In [44]:
sample_df = pd.DataFrame({
    'gender' : ['M', 'F', 'M', 'M', 'F'],
    'grade'  : ['A', 'A', 'B', 'B', 'A'],
    'marks'  : [ 22,  21,  12,  14,  20],
    'id'     : ['A101', 'A102', 'A103', 'A104', 'A105']
})
sample_df

  gender grade  marks    id
0      M     A     22  A101
1      F     A     21  A102
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

Now, when we define a dataframe by default the index is a range of numbers. Let's see what happens if try to slice the dataframe using both loc and iloc

In [45]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [46]:
sample_df.iloc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104



*   When we try to slice the dataframe using the loc function on range(2 to 4) it first finds out the index with a label 2 and goes till it finds the index with a label 4.
*   On the other hand, when we try to silce the dataframe using the iloc function on range(2 to 4) it starts with the starting point index 2 and goes till end point - 1 which is 3.

In [47]:
sample_df = sample_df.sort_values(by=['marks'])
sample_df

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101

In [48]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [49]:
sample_df.iloc[2:4]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102

*   You can see that when we tried to slice the dataframe using the loc function it finds out the name of start and end point and slice the data whereas iloc still gives the 2nd and 3rd value of the dataframe.

In [50]:
sample_df.set_index('id',inplace=True)
sample_df

     gender grade  marks
id
A103      M     B     12
A104      M     B     14
A105      F     A     20
A102      F     A     21
A101      M     A     22

In [51]:
sample_df.iloc[2:4]

     gender grade  marks
id
A105      F     A     20
A102      F     A     21

In [52]:
sample_df.loc[2:4]

TypeError: ignored

In [53]:
sample_df.loc['A104':'A102']

     gender grade  marks
id
A104      M     B     14
A105      F     A     20
A102      F     A     21

> Subsetting - Value based

*   How to select rows based on condition?
*   How to select rows based on multiple conditions?
*   How to select specific columns from a data?
*   How to select rows based on a condition and view only the specific columms?
*   How to select the columns with specific data types?

In [56]:
#Select all rows where the value of Outlet_Establishment_Year is 1987
data.loc[data.Outlet_Establishment_Year == 1987]
#before running this cell, first rerun the read.csv line, because we have dropped this column from dataset and set as an index previously

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

HOW TO SELECT ROWS BASED ON MULTIPLE CONDITIONS?

In [57]:
data.loc[(data.Outlet_Establishment_Year == 2009) & (data.Outlet_Size == 'Medium')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
31,NCS17,18.600,Low Fat,0.080829,Health and Hygiene,96.4436,OUT018,2009,Medium,Tier 3,Supermarket Type2,2741.7644
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

In [58]:
# get rows for 3 years 1987, 1988, 1999
data[(data.Outlet_Establishment_Year == 1987) | (data.Outlet_Establishment_Year == 1988) | (data.Outlet_Establishment_Year == 1999)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
...,...,...,...,...,...,...,...,...,...,...,...,...
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744
8479,FDL10,8.395,Low Fat,0.039554,Snack Foods,99.1042,OUT049,1999,Medium,Tier 1,Supermarket Type1,2579.3092
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [59]:
# filter for a list of values
data.loc[data.Outlet_Establishment_Year.isin([1987, 1988, 1999])]
#data[data.Outlet_Establishment_Year.isin([1987, 1988, 1999])]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
...,...,...,...,...,...,...,...,...,...,...,...,...
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744
8479,FDL10,8.395,Low Fat,0.039554,Snack Foods,99.1042,OUT049,1999,Medium,Tier 1,Supermarket Type1,2579.3092
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

HOW TO SELECT SPECIFIC COLUMNS FROM A DATA?

In [60]:
# list of columns
select_columns = ['Item_Identifier', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size']

# dataframe with specific columns
data[select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
0              FDA15  249.8092                       1999      Medium
1              DRC01   48.2692                       2009      Medium
2              FDN15  141.6180                       1999      Medium
3              FDX07  182.0950                       1998         NaN
4              NCD19   53.8614                       1987        High
...              ...       ...                        ...         ...
8518           FDF22  214.5218                       1987        High
8519           FDS36  108.1570                       2002         NaN
8520           NCJ29   85.1224                       2004       Small
8521           FDN46  103.1332                       2009      Medium
8522           DRG01   75.4670                       1997       Small

[8523 rows x 4 columns]

HOW TO SELECT ROWS BASED ON A CONDITION AND VIEW ONLY THE SPECIFIC COLUMMS?

In [61]:
# list of specific columns
select_columns = ['Item_Identifier', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size']

# filter the data
data[(data.Outlet_Establishment_Year == 1987) & (data.Outlet_Size == 'High')][select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
4              NCD19   53.8614                       1987        High
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
20             FDN22  250.8724                       1987        High
27             DRJ59   39.1164                       1987        High
...              ...       ...                        ...         ...
8462           FDQ31   85.9856                       1987        High
8466           FDJ32   61.2536                       1987        High
8484           DRJ49  129.9652                       1987        High
8512           FDR26  178.3028                       1987        High
8518           FDF22  214.5218                       1987        High

[932 rows x 4 columns]

*   Using loc, we can provide columns to select within the same square bracket.

In [62]:
data.loc[(data.Outlet_Establishment_Year == 1987) & (data.Outlet_Size == 'High'), select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
4              NCD19   53.8614                       1987        High
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
20             FDN22  250.8724                       1987        High
27             DRJ59   39.1164                       1987        High
...              ...       ...                        ...         ...
8462           FDQ31   85.9856                       1987        High
8466           FDJ32   61.2536                       1987        High
8484           DRJ49  129.9652                       1987        High
8512           FDR26  178.3028                       1987        High
8518           FDF22  214.5218                       1987        High

[932 rows x 4 columns]

HOW TO SELECT THE COLUMNS WITH SPECIFIC DATA TYPES?

In [63]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [64]:
data.select_dtypes('object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...
8518,FDF22,Low Fat,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,Baking Goods,OUT045,NaN,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,Soft Drinks,OUT046,Small,Tier 1,Supermarket Type1

In [65]:
data.select_dtypes('int64')

      Outlet_Establishment_Year
0                          1999
1                          2009
2                          1999
3                          1998
4                          1987
...                         ...
8518                       1987
8519                       2002
8520                       2004
8521                       2009
8522                       1997

[8523 rows x 1 columns]

> df[] VS df.loc[] WHEN TO USE WHICH?

df.loc[] provides simpler syntax over df[]

Both have similar performance in terms of execution time

df.loc[] also works with label based subsetting

df[] sometimes has unwanted behavior, hence as a good practice it is recommended to use df.loc[].

Read here for more info: https://stackoverflow.com/a/38886211